.myButton_none {
  background: none;
  border-radius: 30px;
  border-style: none;
  height: 3rem;
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  text-align: center;
}

.myButton_none:disabled {
  pointer-events: none;
  color: rgb(255, 255, 255, 0.3);
  cursor: default;
}

.myButton_none:active:hover {
  background-color: rgb(255, 255, 255, 0.1);
  color: #4fb71e;
  font-weight: bold;
}

.myButton_fill {
  /* background: none; */
  background-color: #4fb71e;
  border-radius: 30px;
  border-style: none;
  height: 3rem;
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  text-align: center;
  font-weight: bold;
}

.myButton_fill:disabled {
  background-color: grey;
  pointer-events: none;
}

.myButton_fill:active:hover {
  outline: none;
  box-shadow: 0 0 0 2px white;
}
