.myInputBox {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  border-style: none;
  height: 3.5rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1rem;
  color: white;
}

.myInputBox:hover {
  outline: none;
  box-shadow: 0 0 10px 3px white, 0 0 0 1px white;
}

.myInputBox:focus {
  outline: none;
  box-shadow: 0 0 10px 3px white, 0 0 0 1px white;
}

.myInputBox:invalid {
  outline: none;
  box-shadow: 0 0 10px 3px #fe8686, 0 0 0 1px #fe8686;
}
