/* .page {
  max-width: 480px;
  min-width: 320px;
} */

.temppassword_stack {
  /* margin: 25%;
  margin-top: 30%;
  position: fixed; */
  top: 55%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -65%);
  width: 300px;
  /* border-color: red;
  border-radius: 10px;
  border-style: dashed; */
  z-index: 2;
  transition: 500ms;
}

#notice_temppwd {
  font-size: 1.5rem;
}
